@page "/worklogHistory"

@using JiraWorklogSubmitter.Services.Interfaces

@inject ITimeEntryService TimeEntryService

<h3>Worklog History</h3>

<button type="button"
        class="btn btn-secondary"
        @onclick="@(async e => await GetWorklogsAsync())">
    <i class="oi oi-cloud-download"></i> Get worklogs
</button>

@if (_worklogKeys.Any())
{
<ul>
    @foreach(var worklogKey in _worklogKeys)
    {
        <li>@worklogKey</li>
    }
</ul>
}

@code {
    private ICollection<string> _worklogKeys = new List<string>();

    private async Task GetWorklogsAsync()
    {
        _worklogKeys.Add("Loading...");
        var result = await TimeEntryService.GetCurrentWeekTicketKeys();
        _worklogKeys.Clear();
        _worklogKeys = result;
    }
}
